@use '../../../breakpoints.scss' as breakpoint;

section {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    max-width: 320px;
    background: #2A3647;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    z-index: 10;
}

.logo-and-sidebar-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.image-container {
    display: flex;
    justify-content: end;

    img {
        width: 32px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 24px;
    width: 320px;
}

.sidebar-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;

    &:hover {
        background-color: rgba(128, 128, 128, 0.4);
    }
}

.sidebar-link {
    display: flex;
    align-self: center;
    justify-content: start;
    align-items: center;
    width: 120px;
    gap: 16px;
    cursor: pointer;

    span {
        color: white;
    }
}

.legal-privacy-links-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
        text-align: center;
        color: #A8A8A8;

        &:hover {
            font-weight: bold;
        }
    }
}

.background-highlighting {
    background: #091931;
}

@include breakpoint.screen850 {
    section {
        position: unset;
        padding-left: unset;
        padding-top: unset;
        max-width: unset;
        top: unset;
        // right: 0;
        flex-direction: row;
        justify-content: center;
    }

    .join-logo {
        display: none;
    }

    .sidebar-link-wrapper {
        padding-top: unset;
        padding-bottom: unset;
        max-width: 120px;
        border-radius: 16px;
    }

    .sidebar-links {
        width: 100dvw;
        gap: unset;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar-link {
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .legal-privacy-links-container {
        display: none;
    }
}