@use '../../../breakpoints.scss' as breakpoint;

section {
    position: relative;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 96px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    background-color: #FFFFFF;
    padding-left: 320px; // Minimum Breite von Sidebar !!!
    z-index: 10;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    position: relative;
    
    h2 {
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 400;
    }
}

.help-and-menu-button {
    display: flex;
    align-items: center;
    gap: 16px;
    right: 0;
    padding-right: 32px;

    img {
        &:hover {
            cursor: pointer;
        }

        :nth-child(2){
            &:hover {
                background-color: black;
            }
        }
    }
}

.logo-and-title-wrapper {
    img {
        display: none;
    }
}

.user-logo {
    border: 3px solid #2A3647;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 50px;
    cursor: pointer;

    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #29ABE2;
    }

    &:hover {
        background-color: #0C2E621F;
    }
}

app-dropdown{
    position: absolute;
    top: 76px;
    right: 32px;
}

@include breakpoint.screen850 {
    section {
        padding-left: unset;
    }

    .content-wrapper {
        width: 100%;
        align-self: unset;
        padding-right: 16px;
        padding-left: 16px;
    }

    .help-and-menu-button {
        padding-right: unset;

        img {
            display: none;
        }
    }

    .logo-and-title-wrapper {
        h2 {
            display: none;
        }

        img {
            width: 48px;
            display: block;
        }
    }
}