<section>
    <div class="login-form-wrapper">
        <div class="h2-and-blue-line-wrapper">
            <h2>Log in</h2>
            <div class="blue-line"></div>
        </div>
        <form action="onsubmit">
            <div class="form-class">
                <div class="input-wrapper">
                    <input type="text" id="mail" placeholder="Email" required>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="password" placeholder="Password" required>
                </div>
            </div>
            <div class="login-buttons">
                <button>Log in</button>
                <button>Guest Log in</button>
            </div>
        </form>
    </div>
</section>
