<section>
    <div class="about-login-container">
        <div class="join-logo">
            <img src="assets/img/capa2.svg" alt="join-logo">
        </div>
        <div class="reference-to-register" [ngClass]="isSmall ? 'd-none' : 'd-flex'">
            <h2>Not a Join user?</h2>
            <button [routerLink]="['/register']">Sign Up</button>
        </div>  
    </div>
    <div class="login-form-wrapper">
        <div class="h2-and-blue-line-wrapper">
            <h2>Log in</h2>
            <div class="blue-line"></div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-class">
                <div class="input-wrapper">
                    <input id="mail" type="text" formControlName="email" placeholder="Email"/>
                    <div class="error" *ngIf="submitted && loginForm.get('email')?.invalid">
                        {{loginError}}
                    </div>
                    <img src="assets/img/mail.svg" alt="mail">
                </div>
                <div class="input-wrapper">
                    <input id="password" type="password" formControlName="password" placeholder="Password">
                    <div class="error" *ngIf="submitted && loginForm.get('password')?.invalid">
                        {{loginError}}
                    </div>
                    <img src="assets/img/lock.svg" alt="lock">
                </div>
            </div>
            <div class="login-buttons">
                <button>Log in</button>
                <button type="button" (click)="guestLogin()">Guest Log in</button>
            </div>
        </form>
    </div>
    <div class="reference-to-register-mobile" [ngClass]="isSmall ? 'd-flex' : 'd-none'">
            <h2>Not a Join user?</h2>
            <button [routerLink]="['/register']">Sign Up</button>
    </div>  
    <div class="privacy-policy-and-legal-notice">
        <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
        <a [routerLink]="['/legal-notice']">Legal Notice</a>
    </div>
</section>