<section>
    <div class="about-login-container">
        <div class="join-logo">
            <img src="assets/img/capa2.svg" alt="join-logo">
        </div>
        <div class="reference-to-register">
            <h2>Not a Join user?</h2>
            <button>Sign Up</button>
        </div>  
    </div>
    <div class="login-form-wrapper">
        <div class="h2-and-blue-line-wrapper">
            <h2>Log in</h2>
            <div class="blue-line"></div>
        </div>
        <form action="onsubmit">
            <div class="form-class">
                <div class="input-wrapper">
                    <input type="text" id="mail" placeholder="Email" required>
                    <img src="assets/img/mail.svg" alt="mail">
                </div>
                <div class="input-wrapper">
                    <input type="text" id="password" placeholder="Password" required>
                    <img src="assets/img/lock.svg" alt="lock">
                </div>
            </div>
            <div class="login-buttons">
                <button>Log in</button>
                <button>Guest Log in</button>
            </div>
        </form>
    </div>
    <div class="privacy-policy-and-legal-notice">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</section>