<section>
    <div class="about-register-container">
        <div class="join-logo">
            <img src="assets/img/capa2.svg" alt="join-logo">
        </div> 
    </div>
    <div class="register-form-wrapper">
        <div class="headline-and-arrow-container">
            <img src="assets/img/arrow-left-line.png" alt="arrow-left-line">
            <div class="h2-and-blue-line-wrapper">
                <h2>Sign up</h2>
                <div class="blue-line"></div>
            </div>
        </div>
        <form action="onsubmit">
            <div class="form-class">
                <div class="input-wrapper">
                    <input type="text" id="name" placeholder="Name" required>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="email" placeholder="Email" required>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="password" placeholder="Password" required>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="passwordConfirmed" placeholder="Confirm Password" required>
                </div>
            </div>
            <div class="signUp-button">
                <button>Sign up</button>
            </div>
        </form>
    </div>
    <div class="privacy-policy-and-legal-notice">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</section>
