<section>
    <div class="about-register-container">
        <div class="join-logo">
            <img src="assets/img/capa2.svg" alt="join-logo">
        </div> 
    </div>
    <div class="register-form-wrapper">
        <div class="headline-and-arrow-container">
            <button [routerLink]="['/login']">
                <img src="assets/img/arrow-left-line.png" alt="arrow-left-line">
            </button>
            <div class="h2-and-blue-line-wrapper">
                <h2>Sign up</h2>
                <div class="blue-line"></div>
            </div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-class">
                <div class="input-wrapper">
                    <input id="name" type="text" formControlName="name" placeholder="Name" />
                    <div class="error" *ngIf="submitted && registerForm.get('name')?.invalid">
                        Please enter a valid email
                    </div>
                    <img src="assets/img/person.svg" alt="person" width="24" height="24">
                </div>
                <div class="input-wrapper">
                    <input id="email" type="text" formControlName="email" placeholder="Email" />
                    <div class="error" *ngIf="submitted && registerForm.get('email')?.invalid">
                        Please enter a valid mail
                    </div>
                    <img src="/assets/img/mail.svg" alt="mail">
                </div>
                <div class="input-wrapper">
                    <input id="password" type="password" formControlName="password" placeholder="Password" />
                    <div class="error" *ngIf="submitted && registerForm.get('password')?.invalid">
                        Passwords do not match
                    </div>
                    <img src="assets/img/lock.svg" alt="lock">
                </div>
                <div class="input-wrapper">
                    <input id="passwordConfirmed" type="password" formControlName="passwordConfirmed" placeholder="Confirm Password" />
                    <div class="error" *ngIf="submitted && registerForm.get('passwordConfirmed')?.invalid">
                        You must accept the Privacy Policy
                    </div>
                    <img src="assets/img/lock.svg" alt="lock">
                </div>
            </div>
            <div class="checkbox-wrapper">
                <input type="checkbox" formControlName="acceptPrivacy" id="privacyCheck" />
                <label for="privacyCheck">I accept the <a href="#">Privacy Policy</a></label>
                <div class="error" *ngIf="submitted && registerForm.get('acceptPrivacy')?.invalid">
                    You must accept the Privacy Policy                    
                </div>
            </div>
            <div class="signUp-button">
                <button>Sign up</button>
            </div>
        </form>
    </div>
    <div class="privacy-policy-and-legal-notice">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</section>
