<section>
    <div class="add-contact-logo-wrapper">
        <img src="./assets/img/join_logo_white.svg" alt="join_logo_white">
        <div class="h-section">
            <h2>Add contact</h2>
            <h3>Tasks are better with a Team</h3>
            <div class="blue-line"></div>
        </div>
    </div>
    <div class="form-wrapper">
        <div class="image-container">
            <img src="./assets/img/empty_user.svg" alt="user_profile_img">
        </div>
        <div class="form-element-div">
            <div class="form-element">
                <div class="input-image-wrapper">
                    <input placeholder="Name" [style.width.%]="100" type="text">
                    <img src="assets/img/person.svg" alt="person-img">
                </div>
            </div>
            <div class="form-element">
                <div class="input-image-wrapper">
                    <input placeholder="Email" [style.width.%]="100" type="text">
                    <img src="assets/img/mail.svg" alt="mail-img">
                </div>
            </div>
            <div class="form-element">
                <div class="input-image-wrapper">
                    <input placeholder="Phone" [style.width.%]="100" type="text">
                    <img src="assets/img/call.svg" alt="phone-img">
                </div>
            </div>
            <div class="button-section-wrapper">
                <button>
                    <p>Cancel</p>
                    <img src="assets/img/close.svg" alt="close-img">
                </button>
                <button>
                    <p>Create contact</p>
                    <img src="assets/img/check.svg" alt="check-img">
                </button>
            </div>
        </div>
    </div>
</section>