@use '../../breakpoints.scss' as breakpoint;

section {
    font-family: 'Inter';
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 20%;
    display: flex;
}

.close-img-wrapper-mobile {
    display: none;
}

.add-contact-logo-wrapper {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-right: 48px;
    padding-left: 48px;

    img {
        width: 55.6px;
        height: 66.48px;
    }
}

.main-wrapper {
    background-color: #FFFFFF;
    border-radius: 0 30px 30px 0;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-right: 48px;
    padding-left: 48px; 
}

.form-wrapper {
    display: flex;
    gap: 32px;
}

.form-element-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 400px;
}

.add-contact-logo-wrapper { 
    background-color: #2A3647;
    border-radius: 30px 0 0 30px;
}

.close-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    &:hover {
        background: rgba(128, 128, 128, 0.4);
    }
}

.form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    display: flex;
    align-items: center;

    img {
        width: 120px;
        height: auto;
    }
}

.input-image-wrapper {
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    width: 100%;

    img {
        width: 24px;
        height: 24px;
    }

    input {
        border: none;
        font-size: 20px;

        &::placeholder {
            color: #D1D1D1
        }

        &:focus {
            border: none;
            outline: none;
        }
    }
}

.button-section-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        font-size: 20px;
        border: 1px solid #2A3647;
        border-radius: 10px;
        cursor: pointer;
        padding: 16px;

        &:nth-child(1){
            background-color: #FFFFFF;
            color: #2A3647;
            font-weight: 400;

            &:hover {
                border: 1px solid #29abe2;
                color: #29ABE2;
                box-shadow: 0px 4px 4px 0px #00000040;
            }
        }

        &:nth-child(2){
            background-color: #2A3647;
            color: #FFFFFF;
            font-weight: 700;

            &:hover {
                background-color: #29abe2;
                border: 1px solid #29abe2;
                box-shadow: 0px 4px 4px 0px #00000040;
            }
        }
    }
}

.h-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;

    h2 {
        font-size: 61px;
        font-weight: 700;
    }

    h3 {
        font-size: 27px;
        font-weight: 400;
    }
}

.blue-line {
    border: 3px solid #29ABE2;
    border-radius: 3px;
    width: 100px;
}

@include breakpoint.screen850 {
    section {
        height: 100dvh;
        width: 100dvw;
        left: 0;
        top: 0;
        flex-direction: column;
        z-index: 10000;
    }

    .close-img-wrapper-mobile {
        display: flex;
        position: absolute;
        z-index: 100001;
        background: white;
        right: 16px;
        top: 16px;
        padding: 16px;
        border-radius: 50%;
        cursor: pointer;

        img {
            width: 16px;
        }
    }

    .main-wrapper {
        height: 50dvh;
        border-radius: 0;
        align-items: center;
    }

    .add-contact-logo-wrapper {
        border-radius: 0;
        height: 50dvh;

        img {
            display: none;
        }
    }

    .image-container {
        img {
            position: absolute;
            bottom: calc((100dvh - 120px) / 2);
            right: calc((100dvw - 120px) / 2);
        }
    }

    .close-img-wrapper {
        display: none;
    }

    .button-section-wrapper{
        justify-content: center;
    }

    .form-wrapper {
        gap: unset;
    }
}