<section>
    <div class="logo-and-sidebar-links-container">
        <div class="join-logo">
            <img src="../../../assets/img/join_logo_white.svg" alt="join-logo">
        </div>
        <div class="sidebar-links">
            <div class="sidebar-link">
                <img src="../../../assets/img/summary.svg" alt="summary-img">
                <a href="#">Summary</a>
            </div>
            <div class="sidebar-link">
                <img src="../../../assets/img/edit_square.svg" alt="add-task-img">
                <a href="#">Add Task</a>
            </div>
            <div class="sidebar-link">
                <img src="../../../assets/img/board.svg" alt="board-img">
                <a href="#">Board</a>
            </div>
            <div class="sidebar-link">
                <img src="../../../assets/img/perm_contact_calendar.svg" alt="contacts-img">
                <a href="#">Contacts</a>
            </div>
        </div>
    </div>
    <div class="legal-privacy-links-container">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</section>
