<section>
    <div class="logo-and-sidebar-links-container">
        <div class="join-logo">
            <img src="../../../assets/img/join_logo_white.svg" alt="join-logo">
        </div>
        <div class="sidebar-links">
            <div class="sidebar-link-wrapper" [ngClass]="highlightLink('/summary') ? 'background-highlighting' : ''">
                <div class="sidebar-link">
                    <div class="image-container">
                        <img src="../../../assets/img/summary.svg" alt="summary-img">
                    </div>
                    <div class="link-container">
                        <a [routerLink]="['/summary']">Summary</a>
                    </div>
                </div>
            </div>
            <div class="sidebar-link-wrapper" [ngClass]="highlightLink('/add-task') ? 'background-highlighting' : ''">
                <div class="sidebar-link">
                    <div class="image-container">
                        <img src="../../../assets/img/edit_square.svg" alt="add-task-img">
                    </div>
                    <div class="link-container">
                        <a [routerLink]="['/add-task']">Add Task</a>
                    </div>
                </div>
            </div>
            <div class="sidebar-link-wrapper" [ngClass]="highlightLink('/board') ? 'background-highlighting' : ''">
                <div class="sidebar-link">
                    <div class="image-container">
                        <img src="../../../assets/img/board.svg" alt="board-img">
                    </div>
                    <div class="link-container">
                        <a [routerLink]="['/board']">Board</a>
                    </div>
                </div>
            </div>
            <div class="sidebar-link-wrapper" [ngClass]="highlightLink('/contact') ? 'background-highlighting' : ''">
                <div class="sidebar-link">
                    <div class="image-container">
                        <img src="../../../assets/img/perm_contact_calendar.svg" alt="contacts-img">
                    </div>
                    <div class="link-container">
                        <a [routerLink]="['/contact']">Contacts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="legal-privacy-links-container">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal Notice</a>
    </div>
</section>
