<section>
    <div class="join-logo">
        <img src="../../../assets/img/join_logo_white.svg" alt="join-logo">
    </div>
    <div class="sidebar-links">
        <img src="#" alt="summary-img">
        <li>Summary</li>
    </div>
    <div class="sidebar-links">
        <img src="#" alt="add-task-img">
        <li>Add Task</li>
    </div>
    <div class="sidebar-links">
        <img src="#" alt="board-img">
        <li>Board</li>
    </div>
    <div class="sidebar-links">
        <img src="#" alt="contacts-img">
        <li>Contacts</li>
    </div>
</section>
