section {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    max-width: 320px;
    background: #2A3647;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
    z-index: 10;
}

.logo-and-sidebar-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.image-container {
    display: flex;
    justify-content: end;

    img {
        width: 32px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 24px;
    width: 320px;
}

.sidebar-link {
    display: flex;
    align-self: center;
    justify-content: start;
    align-items: center;
    width: 120px;
    gap: 16px;

    a {
        color: white;
    }
}

.legal-privacy-links-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
        text-align: center;
        color: #A8A8A8;

        &:hover {
            font-weight: bold;
        }
    }
}