@use '../breakpoints' as breakpoint;

app-task-form {
    position: absolute;
    left: 320px;
    top: 96px;
    width: calc((100dvw - 320px));
    height: calc((100dvh - 96px));
    padding: 50px;
}

.main-content-wrapper {
    overflow: hidden;
}

@include breakpoint.screen850 {
    app-task-form {
        position: unset;
        padding: unset;
        width: 100%;
    }
}