<section (click)="hideDropdownsIfOpen($event)">
    <h1>Add Task</h1>
    <form [formGroup]="addTaskForm">
        <div class="formBlock">
            <div class="form-element">
                <label for="title">Title: </label>
                <input id="title" type="text" placeholder="Enter a title" formControlName="title">
            </div>
            <div class="form-element">
                <label for="description">Description: </label>
                <input id="description" type="text" placeholder="Enter a Description" formControlName="description">
            </div>

            <div class="form-element">
                <label for="date">Date: </label>
                <input id="date" type="date" formControlName="date">
            </div>

        </div>

        <div class="parting-line"></div>

        <div class="formBlock">
            <div class="form-element">
                <label for="prio">Priority: </label>
                <div class="custom-dropdown-wrapper">
                    <div id="priority-input-div" class="input-with-image" (click)="invertStatusDropdownArray('taskCategoryInput', $event)">
                        <input 
                            [value]="selectedTaskCategory"
                            id="prio" 
                            type="text" 
                            placeholder="Select task category" 
                            formControlName="prio"
                        >
                        @if(this.statusTaskCategoryDropdownArrowDown){
                            <img src="assets/img/arrow_drop_down.svg" alt="arrow_drop_down">
                        } @else if(!this.statusTaskCategoryDropdownArrowDown){
                            <img src="assets/img/arrow_drop_top.svg" alt="arrow_drop_top">
                            <ul class="custom-dropdown">
                                <li *ngFor="let taskCategory of taskCategories" (mousedown)="selectTaskCategory(taskCategory)">
                                    {{taskCategory}}
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>

            <div class="form-element">
                <label for="assignedTo">Assigned To: </label>
                <div class="custom-dropdown-wrapper">
                    <div class="input-with-image" id="contact-input-div" (click)="invertStatusDropdownArray('contactInput', $event)">
                        <input 
                            [value]="selectedContact"
                            (input) = "onInput($event)"
                            [style.width.%] = "100"
                            id="assignedTo" 
                            type="text" 
                            placeholder="Select contacts to assign" 
                            formControlName="assignedTo"
                        >
                        @if(statusContactsDropdownArrowDown){
                            <img src="assets/img/arrow_drop_down.svg" alt="arrow_drop_down">
                        } @else if(!statusContactsDropdownArrowDown){
                            <img src="assets/img/arrow_drop_top.svg" alt="arrow_drop_top">
                            <ul class="custom-dropdown">
                                <li *ngFor="let contact of contacts" (mousedown)="selectContact(contact)">
                                    {{contact}}
                                </li>
                            </ul>                        
                        }
                    </div>
                </div>
            </div>
            
            <div class="form-element">
                <label for="category">Category: </label>
                <div class="form-category">
                    <div class="input-image-wrapper" (click)="selectUrgencyIcon('urgent', 'red')" [class]="selectedUrgencyIcon === 'urgent' ? colorClass : default">
                        <input id="category-urgent" type="button" value="Urgent" [class]="selectedUrgencyIcon === 'urgent' ? colorClass : default">
                        @if(selectedUrgencyIcon !== 'urgent'){
                            <img src="assets/img/prio_urgent_symbole.svg" alt="urgent-red">
                        } @else if(selectedUrgencyIcon === 'urgent'){
                            <img src="assets/img/prio_urgent_white.svg" alt="urgent-icon">
                        } 
                    </div>
                    <div class="input-image-wrapper" (click)="selectUrgencyIcon('medium', 'orange')" [class]="selectedUrgencyIcon === 'medium' ? colorClass : default">
                        <input id="category-medium" type="button" value="Medium" [class]="selectedUrgencyIcon === 'medium' ? colorClass : default">
                        @if(selectedUrgencyIcon !== 'medium'){
                            <img src="assets/img/medium.svg" alt="medium-icon">
                        } @else if(selectedUrgencyIcon === 'medium'){
                            <img src="assets/img/prio_medium_white.svg" alt="medium-white">
                        }
                    </div>
                    <div class="input-image-wrapper" (click)="selectUrgencyIcon('low', 'green')" [class]="selectedUrgencyIcon === 'low' ? colorClass : default">
                        <input id="category-low" type="button" value="Low" [class]="selectedUrgencyIcon === 'low' ? colorClass : default">
                        @if(selectedUrgencyIcon !== 'low'){
                            <img src="assets/img/prio_low_symbole.svg" alt="low-green">
                        } @else if(selectedUrgencyIcon === 'low'){
                            <img src="assets/img/prio_low.svg" alt="low-icon">
                        }
                    </div>
                </div>
            </div>

            <div class="form-element">
                <label for="subtasks">Subtasks: </label>
                <div class="input-with-image">
                    <input id="subtasks" type="text" placeholder="Add new subtask" formControlName="subtasks">
                    <img src="assets/img/plus.svg" alt="plus-icon">
                </div>
            </div>

        </div>
        <div class="button-section">
            <button>
                <p>Clear</p>
                <img src="assets/img/close.svg" alt="close-img">
            </button>
            <button>
                <p>Create Task</p>
                <img src="assets/img/check.svg" alt="check-img">
            </button>
        </div>
    </form>
    <!-- <div class="button-section">
        <button>
            <p>Clear</p>
            <img src="assets/img/close.svg" alt="close-img">
        </button>
        <button>
            <p>Create Task</p>
            <img src="assets/img/check.svg" alt="check-img">
        </button>
    </div> -->
</section>