section {
    
    font-family: 'Inter';

    h1 {
        font-size: 64px;
        font-weight: 700;
    }

    .custom-dropdown-wrapper {
        position: relative;
        width: 100%;

        input {
            background: #FFFFFF;
            border: 1px solid #D1D1D1;
            padding-top: 12px;
            padding-right: 16px;
            padding-left: 16px;
            padding-bottom: 12px;
            border-radius: 10px;
            width: 100%;
        }

        .custom-dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #FFFFFF;
            border: 1px solid #ccc;
            border-radius: 10px;
            z-index: 10;
            max-height: 200px;
            overflow-y: auto;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .custom-dropdown li {
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;;
            }
        }
    }

    .button-section {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 16px;
        position: absolute;
        bottom: 40px;
        right: 32px;

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
        }

        button:nth-child(1){
            font-size: 20px;
            font-weight: 400;
            color: #2A3647;
        }

        button:nth-child(2){
            background-color: #2A3647;
            color: #FFFFFF;
            font-size: 21px;
            font-weight: 700;
        }
    }

    button {
        padding: 16px;
        border-radius: 10px;
        border: 1px solid #2A3647;
        cursor: pointer;
    }

    form {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        padding: 16px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: clamp(8px, 10%, 64px);

        input {
            cursor: pointer;
            border: 1px solid #D1D1D1;
            padding-top: 12px;
            padding-right: 16px;
            padding-left: 16px;
            padding-bottom: 12px;
            border-radius: 10px;
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 400;

            &::placeholder {
                font-size: 20px;
                color: #D1D1D1;
            }
        }
    }

    .input-image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        background: #FFFFFF;
        border-radius: 10px;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;

        input {
            border: none;
            padding-right: unset;
            padding-left: unset;
            padding-top: unset;
            padding-bottom: unset;
        }
    }

    .input-with-image {
        border: 1px solid #D1D1D1;
        background: #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // img {
        //     margin-right: 8px;
        //     padding-right: 12px;
        //     padding-left: 12px;
        //     padding-bottom: 12px;
        //     padding-top: 12px;
        //     border-radius: 50px;
        //     border: none;
        //     border: 1px solid black;

        //     &:hover {
        //         background-color: #d9d9d9;
        //     }
        // }

        input {
            border: none;
            padding-right: 16px;
            padding-left: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
            flex: 1;
        }
    }

    .formBlock {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .form-element {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form-category {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        input {
            font-size: 20px;
            cursor: pointer;
        }
    }

    .parting-line {
        border: 1px solid #D1D1D1;
        background-color: #D1D1D1;
    }

    .white {
        background: #FFFFFF;
    }

    .orange {
        background: #FFA800;
        color: white;
    }

    .red {
        background: #FF3D00;
        color: white;
    }

    .green {
        background: #7AE229;
        color: white;
    }
}